
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace testeexercicios
{
    internal class Program
    {
        static void Main(string[] args)
        {
            int i = 3;
            int j = 4;

            for (int k = 0; k <= i; k++)
            {
                for (int l = 0; l < j; l++)
                {
                    Console.WriteLine("{0}∗{1}={2}", k, l, k * l);
                }
            }
        }
    }
}
